<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ayoprez.iggy.library">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>

        <activity
            android:name="com.ayoprez.iggy.library.activities.FullScreenImageGalleryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            android:theme="@style/ImageGalleryTheme" />

    </application>

</manifest>
